.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main__chat_wrapper{
  width: 600px;
  height: 500px;
  background-color: white;
}
.main__chat{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  background-color: #cbe2e8;
}
.main__chat__message{
  border: 1px solid #b698b5;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  scroll-snap-align: start;
  color: black;
  font-size: 1vw;
  margin: 20px;
  background-color: #f5fbfd;
}
.main__chat__message__username{
  padding: 7px;
  font-weight: 600;
  margin-left: 3%;
}

.main__chat__message__text{
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  word-wrap: break-word;
  padding: 0 2%;
}
.main__chat__message__time{
  align-self: flex-end;
  margin-right: 3%;
  padding: 7px;
}
